<div class="intro">
    <!--css adds image  -->
</div>

<div class="intro-text">
  <span class="intro1">Love coffee?</span>
  </br>
  <span class="intro1">So do we.</span>
  <p class="intro2">How do you  great cup of coffee.</p>
  <button class="intro-button">
    <%= link_to "Sign Up", new_user_registration_path%>
  </button>
</div>