<div class="intro">
    <!--css adds image  -->
</div>

<div class="intro-text">
  <span class="intro1">Love coffee?</span>
  </br>
  <span class="intro1">So do we.</span>
  </br>
  <p class="intro2">At Coffee Hacker we love coffee, sign up to tell us your hacks to a great cup of coffee.</p>
  <!-- <h3 class="intro3">Whats your coffee hack?</h3> -->
  <button class="intro-button">
    <%= link_to "Sign Up", new_user_registration_path%>  
  </button>  
</div>

<!-- / %div.posts
/   - @posts.each do |post|
/     = link_to (image_tag post.image.url(:small))
/     %h2= link_to post.title, post
/     %p
/       = post.comments.count
/       Comments

/     %p
/       = post.get_likes.size
/       Likes
/     %hr
/   = link_to "New post", new_post_path -->