nav{
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  height: 45px;
  position: relative;
  box-shadow: 0px 3px 10px #888888;
}

ul{
  list-style-type: none;
  margin: 0;
  padding:0;
  /*overflow: hidden;*/
}

li{
  float: right;
  text-align: center;
  height: 30px;
}

nav li a, .logo{
  font-family: 'Poiret One', cursive;
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 8px;
  display: block;
  padding-left: 30px;
  font-weight: 900;
  color: #555;
  text-decoration: none;
}

.content{
  padding: 20px;
}

a {
  text-decoration: none;
}

a:hover{
  color: navy;
}

li.fa.fa-bars{
  margin-top: 2px;
  cursor: pointer;
  position: relative;
  display: none;
}

.logo > img{
  max-width: 40px;
  max-height: 40px;
}

a.logo{
  position: absolute;
  margin-left: 0%;
}

/*-----------------------------------W3 CODE BELOW-----------------------------*/
/* Dropdown Button */
.dropbtn {
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    color: red;
}

/* The container <div> - needed to position the dropdown content */
.dropbtn {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
