/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
color: #263238;
font-family: 'Roboto', sans-serif;
}

header{
  height: 30px;
  /*background-color: #eeeeee;*/
  position: relative;
  padding: 10px;
  padding-bottom: 0px;
  width: 100%;
  /*box-shadow: 2px 2px 5px #c4c5c6;*/
}

nav{
  position: absolute;
  margin-top: -15px;
  margin-left: 70%;
}

nav a, header a{
  padding: 5px;
  font-weight: bold;
}

.content{
  padding: 20px;
}

a {
  text-decoration: none;
}

a:hover{
  font-size: 17px;
  color: green;
  font-weight: bold;
}

.posts {
  
}

.intro{
  height: 800px;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-image: url("vrs.jpg");
  background-position: center center; 
}

h1.intro-text{
  padding: 50px;
  color: white;
  font-size: 100px;
}

/*.intro img{
  padding: 10px;
  display: inline-block;
}*/

