/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
color: #263238;
font-family: 'Roboto', sans-serif;
}

nav{
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  height: 45px;
  position: relative;
  box-shadow: 0px 3px 10px #888888;
}

ul{
  list-style-type: none;
  margin: 0;
  padding:0;
  /*overflow: hidden;*/
}

li{
  float: right;
  text-align: center;
  height: 30px;
}

nav li a, .logo{
  font-family: 'Poiret One', cursive;
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 8px;
  display: block;
  padding-left: 30px;
  font-weight: 900;
  color: #555;
  text-decoration: none;
}

.content{
  padding: 20px;
}

a {
  text-decoration: none;
}

a:hover{
  color: navy;
}

.posts {
  
}

.intro{
  position: relative;
  height: 800px;
  width: 100%;
  background-size: cover;
  background-image: url("ch.jpeg");
  background-position: center center;
}

.intro-text{
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 3px;
  left: 3%;
  right: 0px;
  text-shadow: 2px 2px 2px #6d6d6d;
  top: 30%;
  width: 37%;
}

.intro-text > span{
  text-shadow: 1px;
  color: white;
}

.logo > img{
  max-width: 40px;
  max-height: 40px;
}

a.logo{
  position: absolute;
  margin-left: 0%;
}

.intro1{
  font-size: 38px;
  font-weight: bolder;
  padding-bottom: 5px;
}

p.intro2{
  font-size: 19px;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: white;
  font-weight: normal;
  padding-bottom: 20px;
}

.intro3{
  font-size: 25px;
  color: white;
  font-weight: bolder;
}

button.intro-button{
  font-size: 25px;
  padding: 10px;
  width: 170px;
  border-radius: 10px;
  background-color: #00a1df;
  border: none;
}

button.intro-button > a{
  color: white;
}


